body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

button {
    height: 48px;
    width: 48px;
}

.specialButtons {
    width: 100%;
}

.calculatorVisor{
    padding: 8px 16px;
    text-align: right;
    background-color: rgb(224, 224, 224);
    margin-bottom: 16px;
    border-radius: 4px;
}

.calculatorBody{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.calculatorRow {
    display: flex;
    gap: 16px;
}